<div class="login-wrapper">
    <div class="login-card">
      <div class="logo">
        <img src="assets/Logo-Web.svg" alt="Property Connect Logo" />
        <h1><span class="title-dark">Property</span>Connect</h1>
      </div>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Email</label>
          <input formControlName="email" type="email" placeholder="Enter your email" />
            <small class="form-error" [class.visible]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                Enter a valid email.
            </small>
        </div>
  
        <div class="form-group">
          <label>Password</label>
          <div class="password-wrapper">
            <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Enter your password" />
            <span class="toggle" (click)="togglePassword()">
              <img src="assets/icons/Eye.svg" alt="Toggle Password" />
            </span>
          </div>
          <small class="form-error" [class.visible]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Password is required
          </small>          
        </div>
  
        <div class="forgot-password">
          <a routerLink="/forgot-password">Forgot Password?</a>
        </div>
  
        <button type="submit" [disabled]="isSubmitting || loginForm.invalid">
            <div class="btn-inner">
                <span *ngIf="!isSubmitting">Login</span>
                <span *ngIf="isSubmitting" class="spinner spinner-dark spinner-md"></span>
            </div>
        </button>
      </form>
    </div>
  </div>
  